body {
    background-color: rgb(75, 145, 143);
}

#criteria_list > .container, #criteria_list .row, #criteria_list .col-12, #criteria_list span  {
    max-height: 100%;
    height: 100%;
}
/* 
#criteria_list .col-12 {
    width: 100%;

    overflow-x: auto;
    overflow-y: hidden;
}

#criteria_list .d-flex {
    flex-wrap: nowrap;
    white-space: nowrap;
} */

.item {
    padding: 12px 24px;

    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
    border-radius: 10px;

}

.item h1 {
    font-size: 2.8vw;
}

.item h2 {
    font-size: 2.1vw;
}

.item h3 {
    font-size: 1.8vw;
}

.item h4 {
    font-size: 1.4vw;
}

.item h5 {
    font-size: 1.3vw;
}

.item h4:nth-child(1) {
    margin: 0;
}


@media only screen and (max-width: 575px) {
    .item h1 {
        font-size: 4vw;
    }
    
    .item h2 {
        font-size: 3.3vw;
    }
    
    .item h3 {
        font-size: 3vw;
    }
    
    .item h4 {
        font-size: 2.6vw;
    }
    
    .item h5 {
        font-size: 2.5vw;
    }


}